@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}
@media (min-width: 1024px) {

    /* Designing for scroll-bar */
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      z-index: 100000000000000000000000;

  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: rgb(255, 255, 255);
      border-radius: 5px;
      z-index: 100000000000000000000000;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #a8a8a8;
      border-radius: 5px;
      z-index: 100000000000000000000000;
  }
}